/*Used tutorial at https://www.w3schools.com/css/default.asp to get started with CSS formatting*/
3
/*Scratch space on colors: dark gray #333745, light green #BBD8B3, maroon #510D0A, pink #F03A47, weird yellow #F3B61F*/
/*My fonts: font-family: 'Slabo', serif;
font-family: 'Open Sans', sans-serif;*/

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  font-family: 'Slabo 27px';
  font-size: 20px;
}

nav a:link, a:visited {
  color: #333745;
  padding-left: 50px;
  text-decoration: none;
}

nav a:hover {
  color: #F03A47;
  text-decoration: underline;
}

#signin {
  justify-content: flex-end;
  color: #F03A47;
}

#title {
  color: #510D0A;
  font-size: 40px;
  /*padding-left: 50px;*/
  text-decoration: underline;
}

.cover {
  display: flex;
  /* Image taken from https://www.pinterest.com/alikat89/fancy-food/ with actual link https://s-media-cache-ak0.pinimg.com/736x/36/e4/78/36e478cb8cea6dae3ffcc2cc9a3b5c5d.jpg*/
  background: url(cover2.jpg);
  background-size: cover;
  height: 741px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cover h1 {
  font-size: 90px;
  color: #F3B61F;
  font-family: 'Slabo 27px';
  /*padding-left: 30px;*/
}

/* Styling my input box with tricks from https://www.w3schools.com/css/css_form.asp, http://stackoverflow.com/questions/6669846/css-input-field-text-color-of-inputted-text, and http://stackoverflow.com/questions/5617703/background-color-in-input-and-text-fields */
input {
  border: 1px solid #510D0A;
  box-sizing: border-box;
  padding: 7px 7px;
  /*padding-left: 60px;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 350px;
  font-family: 'Open Sans';
  font-style: italic;
  background-color: #F2F2F2;
  color: #828282;
}

button {
  background-color: #F03A47;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 50px;
  color: #ffffff;
  font-family: "Slabo 27px";
  /*padding: 2px 5px;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*padding-left: 70px;*/
}

.cover h2 {
  color: #333745;
  font-family: 'Open Sans';
  font-size: 24px;
}

ul li {
  color: #F2F2F2;
  font-family: 'Open Sans';
  font-size: 20px;
}

footer {
  display: flex;
  background-color: #510D0A;
  flex-direction: row;
  align-content: flex-start;
  padding-top: 20px;
  height: 350px;
}

ul {
  padding-left: 120px;
  list-style-type: none;
}

footer a:link, a:visited {
  color: #F2F2F2;
  font-size: 16px;
  text-decoration: none;
}

footer a:hover {
  color: #F3B61F;
}
