/*Used tutorial at https://www.w3schools.com/css/default.asp to get started with CSS formatting*/
3
/*Scratch space on colors: dark gray #333745, light green #BBD8B3, maroon #510D0A, pink #F03A47, weird yellow #F3B61F*/
/*My fonts: font-family: 'Slabo', serif;
font-family: 'Open Sans', sans-serif;*/

body {
  background-color: #faebd7;
  margin: 0;
  padding: 0;
}

/* Trying to scale the cover right using concepts from https://developer.mozilla.org/en-US/docs/Web/CSS/background-size#Values */
.cover {
  display: flex;
  background: url(cover2.jpg);
  background-size: cover;
  /*height: 500;*/
  justify-content: flex-start;
  align-content: center;
}

h1 {
  font-size: 88px;
  color: #F3B61F;
  font-family: 'Slabo 27px';
}

h2 {
  color: #333745;
  font-family: 'Open Sans';
  font-size: 30px;
}

p {
  color: #2C4251;
  font-family: 'Open Sans';
  font-size: 20px;
}

ul {
  list-style-type: none;
}

nav {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Slabo 27px';
  font-size: 30px;
}

#nav a:link, a:visited {
  color: #333745;
  text-decoration: none;
}

#nav a:hover {
  color: #F03A47;
  text-decoration: underline;
}

nav.title {
  color: #510D0A;
  font-size: 50px;
}
